@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif !important;
}
body{
    overflow-x: hidden;
    max-width: 100vw;
}
    .allpageEnclose{
        margin: 40px;
    }
    .herosection{
        background-image: url(../media/heroBackground.png);
        background-size: 100% 830px;
        background-repeat: no-repeat;
        min-height: 830px;
        width: 100%;
        position: relative;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 158px;
        margin-right: 122px;
        height: 144px;
    }
    .logo{
        width: 144px;
        height: 144px;


    }
    .logoImg{
        width: 144px;
        height: 144px;
        margin-top: -18px;
    }
    .navlinks{
        width: 317px;
        display: flex;
        gap: 40px;
    }
    .navlinks a{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;

    }
    .textAndImg{
display: flex;
flex-direction: row;
justify-content: space-between;

    }
    .herotext{
        display: flex;
        flex-direction: column;
        max-width: 790px;
        margin-left: 80px;
        margin-top: 108px;

    }
    .indexHeroMargin{
        margin-top: 28px !important;
    }
    .heroTextHeading{
        font-family: Montserrat;
        font-size: 70px;
        font-weight: 500;
        line-height: 85.33px;
        text-align: left;
        color: white;

    }
    .smallText{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F5F5F5;
        margin-top: 35px;
    }
    .herotext p{
        margin-bottom: 50px;
        max-width: 639px;
    }
    .textButons{
        display: flex;
        flex-direction: row;
        gap: 9px;
    }
    .text1Butn{
        width:248px;
        height:69px;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        letter-spacing: 0.02em;
        text-align: center;
        background: #565555;
        color: white;
        border: none;


    }
   .heroText2Btn{
    
    width:248px;
    height:69px;
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    letter-spacing: 0.02em;
    text-align: center;
    background: transparent;
    color: white;
    border: 1px solid #FFFFFF;

   }
    .imgWithButton{

        position: relative;
        width: 740px;
        height: 525px;
        margin-right: 122px;
        margin-left: 102px;
    }
    .heroImg1Btn{
        width:307px;
        height:69px;
        padding: 20px 30px 20px 30px;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        letter-spacing: 0.02em;
        text-align: center;
        background: #565555;
        color: white;
        border: none;
        position: absolute;
        top: 23px;
        left: -76px;
        z-index: 11;
    }
    .heroImg2Btn{
        width:248px;
        height:69px;
        padding: 20px 30px 20px 30px;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        letter-spacing: 0.02em;
        text-align: center;
        background: #565555;
        color: white;
        border: none;
        position: absolute;
        bottom: 42px;
        left: -30px;
        z-index: 11;
    }
    .imgMask{


   
        -webkit-mask-image: url(../media/maskHeroImg.png);
        mask-image: url(../media/maskHeroImg.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;    
        -webkit-mask-size: 672.66px 525px; /* set width and height here */
        mask-size: 672.66px 525px; /* set width and height here */

    }
    .heroImg{
        width: 672.66px;
        height: 525px;

    }
    .aboutus{
        margin:240px 122px 107px 122px ;
    }
    .aboutUsBtn{
        width:180px;
        height:69px;
        padding: 20px 30px 20px 30px;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        letter-spacing: 0.02em;
        text-align: center;
        background: #565555;
        color: white;
        border: none;
     

    }
    .aboutusTextAndimg{
        display: flex;
        flex-direction: row;
     
        margin-top: 35px;
        /* margin-bottom:118px ; */

    }
    .textPartAbout{
        max-width: 910px;
        display: flex;
        flex-direction: column;

    }
    .textColorBlack{
        color:#484848 ;
    }
    .aboutusHeading{
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        letter-spacing: 0.02em;
        text-align: left;

    }
   
    .imgPartAbout{
        
        /* -webkit-mask-image: url(../media/aboutsectionMaskRight.png);
        mask-image: url(../media/aboutsectionMaskRight.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;    
        -webkit-mask-size: 672.66px 533px;
        mask-size: 672.66px 533px; */
        /* position: relative; */
        /* max-width: 500px; */
        /* bottom: -89px; */
       /* background: #a4a4a47e; */
        
    }
    /* .imgPartAbout img{
        width: 675.63px;
        height: 533.36px;


    } */
    /* .imgPartAbout img {
        width: 413.63px;
        height: 433.36px;
    } */
    .imgPartAbout img {
        width: auto;
        margin-left: 114px;
        height: 356.36px;
    }
    .imgAndSvgAbout{
        display: flex;
        flex-direction: row;
        /* margin-top: -300px; */
    }
    .connectSvg{
        margin-left: -145px;
        position: relative;
        z-index: -1;
    }
    .leftaboutMask{
        -webkit-mask-image: url(../media/aoutSectionMask.png);
        mask-image: url(../media/aoutSectionMask.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;    
        -webkit-mask-size: 672.66px 533px; /* set width and height here */
        mask-size: 672.66px 533px; /* set width and height here */
        position: relative;
        bottom: -76px;
    }
    .leftaboutMask img{
        width: 675.63px;
        height: 533.36px;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 122px;
        margin-right: 122px;
        margin-bottom: 166px;
    }
    .servicesBtn{
        width:168px;
        height:69px;
        padding: 20px 30px 20px 30px;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        letter-spacing: 0.02em;
        text-align: center;
        background: #565555;
        color: white;
        border: none;
    }
    .serviceHeading{
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 600;
        line-height: 58.51px;
        text-align: center;
        margin-top:35px ;
        margin-bottom: 77px;
        
    }
    .serviceImgRow{
        display: flex;
        flex-direction: row;
        gap: 19px;
    }

.indvidualHoverBox {
    position: relative;
    width: 384px;
    /* height: 600px; */
    height: 300px !important;


  }
  .indvidualHoverBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .hoverImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .indvidualHoverBox:hover .hoverImg {
    filter: brightness(0.5);
  }
  
  .indvidualHoverBox:hover .middle {
    opacity: 1;
  }
  .optionBackground{
    background: #565555;
  }
  .text {

    color: white;
    font-family: Actor;
    font-size: 32px;
    font-weight: 400;
    line-height: 57.74px;
    text-align: left;
    width: 100%;
    

  }


    .getInTouch{
        height: 721px;
        max-width: 1550px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        background: #565555;
        display: flex;
        flex-direction: row;
        margin-top: 206px;
        margin-bottom: 141px;
    }

    .formDiv{

        max-width:545px;
        height:631px;
        margin-left: 140px;
        margin-top: 42px;

    }
    .getInTouchHeading{
        font-family: Montserrat;
        font-size: 54px;
        font-weight: 700;
        line-height: 65.83px;
        text-align: left;
        color: #B8B6B6;

    }
    .gitS{
        color: #FFFFFF;
    }
    .form{
        margin-top:40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 60px;
    }
    .formInput{
        height: 50px;
        border-radius: 10px;
        padding: 12px, 20px, 12px, 20px !important;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #E0E0E0;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #828282;
        background: transparent;


    }
    .specialPlaceHolder{
        color: white;
    }
    .relatedDetail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .emailHeadingAndData{
        margin-left: 15px;
        display: flex;
        flex-direction: column;


    }
   .headingMail{
    font-size: 18px;
    color: white;
   }

    .mailInfo{
        font-size: 14px;
        color: white;
    }
    .contactSend{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
        text-align: left;
        border-radius: 10px;
        color: #000000;
        background: #B8B6B6;
        text-align: center;
        padding: 12px;
        border: none;

    }
    .mapDiv{
        max-width: 628px;
        width: 100%;
        height: 806px;
        border-radius: 20px;
        margin-top: -40px;
        margin-left: auto;
    }

    .TaxServices{
        position: relative;
    }
    .taxSrvicesTop{
        margin-bottom: 102px;
        margin-top: 77px;
    }
    .serviceHeadings{
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 600;
        line-height: 58.51px;
        text-align: center;

    }

    .centerAllign{
      align-content: center;
      justify-content: center;
    }
    .importantWidth{
        /* width: 431px !important; */
    }
  .fotterMask{
    -webkit-mask-image: url(../media/fotterBackground.png);
    mask-image: url(../media/fotterBackground.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
    -webkit-mask-size: 100% 616px; /* set width and height here */
    mask-size: 100% 616px; /* set width and height here */
    background: #EFEFEF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
    .fotterLogo{
        height: 168px;
        width: 168px;
        margin: 41px auto;
    }
    .fotterContentRow{
        display: flex;
        flex-direction: row;
        min-height: 186px;
       justify-content: space-between;
        margin-left: 122px;
        margin-right: 122px;
       width: calc(100% - 244px);
       margin-bottom: 101px;
    }
    .pagesFotter, .fotterLinks{
        display: flex;
        flex-direction: column;
    }
    .pagesFotter h3, .fotterLinks h3{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        text-align: left;
        margin-bottom: 24px;

    }
    .pagesFotter a, .fotterLinks a{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        margin-bottom: 10px;
            }
    .fotterContactUs{
        display: flex;
        flex-direction: column;
        
    }
    .fotterContactUs h3
    {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        text-align: left;
        margin-bottom: 20px;
    }
    .fotterContactUs p{ 
    
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        margin-bottom: 20px;
    }
    .circleSvg {
        height: 113px;
        width: 113px;
        border-radius: 120px;
        background: #828282;
        background: ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .svgAndinfo{ 
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
   
    .fotterSocialLinks{
        
    }
    .rowSocialIcon a img{
        height: 40px;
        width: 40px;
    }
  .fotterCopyRight{
    width: 100%;
    background: #565555;
    color: white;
    height: 73px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: 0.02em;
    text-align: center;
   padding-top: 19px;
  }
    #hamburger{
        display: none;
    }
    .hamburgermenu{
        display: none;
    }
    .accountingServices{
        margin-bottom: 120px;
    }
    .sliderIndText {
        overflow: hidden;
        height: auto; /* Ensure this is auto or remove it to let the height adjust based on content */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        transition: all 0.3s ease;
    }
    
    .collapsed {
        -webkit-line-clamp: 4;
    }
    @media (max-width:1700px) {
        .indexHMR {
            mask-size: 614px 400px;
         
        }
        .indexI{
            max-width: 614px !important;
            /* width: 100% !important; */
        }
        
    }
    
@media (max-width:1630px) {
    
    .indexHMR {
        mask-size: 514px 400px;
     
    }
    .indexI{
        max-width: 514px !important;
        /* width: 100% !important; */
    }
    .indvidualHoverBox {
        position: relative;
        width: calc(100%/4);
        /* height: 450px !important; */

        
        height: 600px;
    }
    
}
@media (max-width:1579px) {
    .specialheadingHero {
        font-size: 64px;
    }
    
}
@media (max-width:1522px) {
    .imgWithButton{
        height: 425;
    }
    .indexHIR{
        max-width: 730px;
    }
    .indexHMR{
        mask-size: 572.66px 425px;
    }
    .indexI{
        width: 572.66px;
        height: 425px;
    }
    .heroImg1Btn{
        width: 260px;
        height: 69px;
    }
    .heroImg2Btn{
        width: 220px;
    }
    /* .imgPartAbout {
        -webkit-mask-size: 572.66px 433px;
        mask-size: 572.66px 433px;
    } */
    /* .imgPartAbout img {
        width: 575.63px;
        height: 433.36px;
    } */
    /* .imgPartAbout img {
        width: 413.63px;
        height: 433.36px;
    } */
    .circleSvg{
        height: 113px;
        width: 113px;
        border-radius: 120px;
        background: #828282;
        background: ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftaboutMask {
     
        -webkit-mask-size: 572.66px 433px;
        mask-size: 572.66px 433px;
      
    }
    .leftaboutMask img {
        width: 575.63px;
        height: 433.36px;
    }
    
    .indexHMR {
        mask-size: 414px 400px;
     
    }
    .indexI{
        max-width: 414px !important;
        /* width: 100% !important; */
    }
}
@media (max-width:1479px) {
    .heroImg1Btn{
        left: -40px;
    }
    .heroImg2Btnspec{
        bottom: 132px !important;
    }

    
}
  @media (max-width:1422px) {
    
    .importantWidth{
        /* width: auto !important; */
    }
    .sACHeroResponsive{
        max-width: 730px;
    }
    .sACmaskR{
        /* gap 147px */
        mask-size: 572.66px 425px;
        
    }
    .sACIMGR{
        width: 572.66px;
        height: 425px;
    }
    .heroImg2Btn{
        bottom: 132px !important;
    }
    .navbar{
        margin-left: 85px !important;
    }
   
  }
  @media (max-width:1419px) {
    .indexHIR{
        margin-right: 75px;
    }
    .indexHMR{
        mask-size: 472.66px 325px;
    }
    .indexI{
        width: 472.66px;
        height: 325px;
    }
    .indexImgButton1{
        padding: 0;
        width: 180px;
        height: 55px;
    }
    .indexImgButton2{
        padding: 0;
        width: 150px;
        height: 55px;
        font-size: 1.2rem;
        bottom: 190px !important;
    }
    /* .imgPartAbout {
        -webkit-mask-size: 472.66px 333px;
        mask-size: 472.66px 333px;
        
    }
    .imgPartAbout img {
        width: 475.63px;
        height: 333.36px;
    } */
    .leftaboutMask {
     
        -webkit-mask-size: 472.66px 333px;
        mask-size: 472.66px 333px;
      
    }
    .leftaboutMask img {
        width: 475.63px;
        height: 333.36px;
    }
    
  }
  @media (max-width:1330px) {
    .specialheadingHero{
        font-size: 49px;
    }
    
  }
  @media (max-width:1298px) {
   .specialheadingHero{
        font-size: 41px !important;
        line-height: 53.33px;

    }
    .heroText2Btn{
        width: 200px;
    }
    .text1Butn{
        width: 200px;
    }
    .heroImg1Btn{
        width: 160px;
        font-size: 18px;
        padding: 0;
        height: 49px;
    }
    .heroImg2Btn{
        width: 160px;
        font-size: 18px;
        padding: 0;
        height: 49px;
    }
    .heroTextHeading{
        font-size: 54px;
    }
    .herotext{
        margin-top: 40px !important;
    }
  }
  @media (max-width:1240px) {
    .donewithResponsive{
        margin-top: -10px !important;
    }
    .responsiiveMargin{
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }

@media (max-width:1200px) {
    .aboutus{
        margin-left: 40px;
        margin-right: 40px;
    }
    .sACmaskR{
        /* gap 147px */
        mask-size: 472.66px 325px;
        
    }
    .sACIMGR{
        width: 472.66px;
        height: 325px;
    }
  


    .indexHMR {
        mask-size: 100% 280px;
    }
    .indexI {
        width: 100%;
        height: 280px;
    }
    .getInTouch{
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        max-width: 700px;
    }
    .mapDiv{
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .formDiv{
        margin-left: auto;
        margin-right: auto;
    }
 
    .imgWithButton{
        height: 470px;
    }
    .text1Butn{
        font-size: 16px;
        height: 50px;
        padding: 0;
        width: 150px;
    }
    .heroText2Btn{
        font-size: 16px;
        height: 50px;
        padding: 0;
        width: 150px;
    }
    .indexImgButton2{
        bottom: 132px !important;
       
    }
    .serviceImgRow{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .indvidualHoverBox {
        width: 300px !important;
    
    }

  
   
}
@media (max-width:1000px) {
   
    .herosection {
        background-image: url(../media/heroBackground.png);
        background-size: 100% 650px;
        min-height: 650px;
        width: 100%;
    }
    
   
    .indexHMR {
        mask-size: 280px 220px;
        margin-top: 20px;
    }
    .indexI {
        width: 280px;
        height: 220px;
    }
     .sACmaskR{
        /* gap 147px */
        mask-size: 100% 325px;
        
    }
    .indexHIR{
        display: none;
    }
    .sACIMGR{
        width: 100%;
        height: 325px;
    }
    .sACHeroResponsive{
        margin-right: 50px;
    }

    .logoImg {
    width: 100px;
    height: 100px;
    margin-top: 0px;
}
.navbar{
    margin-right: 10px;
}
.aboutus{
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}
.indexHeroMargin{
    align-items: center;
    justify-content: center;
    margin-left: 0;
    width: 100%;
}
.heroTextHeading{
    text-align: center;
}
.aboutusHeading{
    text-align: center;
}
.textColorBlack{
    text-align: center;
}
.aboutUsBtn{
    margin-left: auto;
    margin-right: auto;
}


/* .imgPartAbout img {
    width: 100%;
  
} */
}
@media (max-width:900px) {
    .fotterContentRow{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .heroImg2Btn{
        width: 40%;
        font-size: 1rem;
    }
    .heroImg1Btn{
        width: 50%;
        font-size: 1rem;

    }
    .aboutusTextAndimg{
        flex-direction: column;
    }
    /* .imgPartAbout {
        width: 390px;
        margin-left: auto;
        margin-right: auto;
    } */
   
    .imgPartAbout{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .imgPartAbout img {
        width: auto;
        margin-left: auto;
       margin-right: auto;
       margin-top: 50px;
    }
}

@media (max-width:850px) {

        .sACmaskR {
        mask-size: 100% 280px;
    }
    .sACIMGR {
        width: 100%;
        height: 280px;
    }
    .heroImg2Btn{
        display: none;
    }
    .heroImg1Btn{
     display: none;

    }
    .allpageEnclose{
        margin: 0;
    }
    .logoImg{
        height: 80px;
        width: 80px;
        margin-top: 23px;
    }
    .herosection{
        margin-top: -19px;
    }
    .herotext{
        margin-left: 45px;
    }
    .imgWithButton{
        margin-right: 20px;
        margin-left: 15px;
    }

}

@media (max-width:700px) {
    .fotterContentRow{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
    }
    .fotterMask {
       
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      
    }
    .fotterLogo {
        height: 98px;
        width: 98px;
        margin: 11px auto;
    }
    .pagesFotter, .fotterLinks{
        display: flex;
        flex-direction: column;
    }
    .pagesFotter h3, .fotterLinks h3{ text-align: center;

    }
    .pagesFotter a, .fotterLinks a{
        text-align: center;
            }
    .fotterContactUs{
        text-align: center;
        
    }
    .fotterContactUs h3
    {
        text-align: center;
    }
    .fotterContactUs p{ 
   text-align: center;
    }

 
   
    .fotterSocialLinks{
        text-align: center;
    }
}
@media (max-width:674px) {
    .textAndImg{
        flex-direction: column;
    }
    .sACmaskR {
        mask-size: 340px 280px;
    }
    .sACIMGR {
        width: 340px;
        height: 280px;
    }
    .herosection{
        background-size: 100% 750px;
        background-repeat: no-repeat;
    }
    .herotext{
        margin-top: 0 !important;
    }
    .herotext{
      align-items: center;
      justify-content: center;
      margin: 0 !important;
    }
    .smallText{
        text-align: center;
    }
    .sACHeroResponsive{
        display: flex;
       
        justify-content: center;
        max-width: 95%;
    }
    .navbar{
        margin-left: 40px !important;
    }
    .indexHIR{
        display: block;
    }
    .indexHIR {
        display: flex;
       
        justify-content: center;
        max-width: 95%;
    }
    /* .imgPartAbout {
        -webkit-mask-size: 90%  233px;
        mask-size: 90%  233px;
        width: 100%;
        margin-left: auto;
    }
    .imgPartAbout img {
        width: 90% ;
        height: 233.36px;
    } */
   
    .leftaboutMask{
        -webkit-mask-size: 90% 233px;
        mask-size: 90% 233px;
    }
    .leftaboutMask img{
        width: 90%;
        height: 233.36px;
    }

   
}

@media (max-width:590px) {
    #hamburger{
        display: block;
    }
    .navlinks{
        width: auto;

    }
    .navlinks a{
        display: none;
    }
    .hamburgermenu{
        position: absolute;
        top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        font-size: 20px;
       
        width: 83%;
        height: 205px;
        border-radius: 30px;
        padding: 30px;
        background: white;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .specHam{
        width: 98% !important;
    }
    .getInTouch{
        margin-top: 10px;
    }
    .hamburgermenu a{
        color: black;
        font-weight: 600;
    }
    .fotterMask{
        mask-size: 100% 1200px;
    }
    .getInTouch{
        border-radius: 5px;
        width: 88%;
        padding: 10px;
    }
    .mapDiv{
        height: 400px;
    }
    .navbar{
        margin-left: 10px !important;

    }
    .logoImg{
        margin-top: 30px;
    }
    .smallText{
        margin-top: 10px;
    }
    .herotext p {
        margin-bottom: 20px;
    }
    .getInTouchHeading {
        font-size: 42px;
        text-align: center;
    }
    .sACmaskR {
        mask-size: 280px 220px;
        margin-top: 20px;
    }
    .sACIMGR {
        width: 280px;
        height: 220px;
    }
    .allpageEnclose{
        overflow-x: hidden;
    }
    .serviceHeadings{
        font-size: 32px;
    }
    .swiperBtnEnclose {
        top: 30px;
    }
    .taxSrvicesTop{
        margin-bottom: 60px;
        margin-top: 35px;
    }
    .heroTextHeading{
        font-size: 40px;
        line-height: 55.33px;
    }
    .services{
      margin-left: 0;
      margin-right: 0;
    }
    .herotext {
        width: 95%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
@media (max-width:500px) {
    .addBlackIndexResponsive{
        background: #000000;
        height: 400px;
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 220px;
        right: 0;
    }
    .addBlack{
        position: absolute;
        width: 100%;
        height: 270px;
        bottom: 125px;
        background: #000000;
    }
    .fotterContactUs{
        align-items: center;
    }
    .aboutusHeading{
        font-size: 55px;
    }
    .aboutus{
        margin-top: 0;
    }
    .imgPartAbout{
        width: auto !important;
    }
    .imgPartAbout img {
       height: 200px;
    }
}
.setSwiperWidth{
    max-width: 1200px !important;
}
@media (min-width:778px) {
    .b3p{
        margin-right: auto !important;
top: 50% !important;
transform: translate(-50%,-50%) !important;
    }
    .b3n{
top: 50% !important;
margin-left: 100% !important;
margin-right: -40px !important;
transform: translate(-50%,-50%) !important;
    }
    .b1p{
top: 50% !important;
transform: translate(-50%,-50%) !important;
    }
    .b1n{
top: 50% !important;
transform: translate(-50%,-50%) !important;
margin-right: -50px !important;
    }
    
}
@media (max-width:470px) {
    .b3p{
        margin-top: 50px !important;
    }
    .b3n{
        margin-top: 50px !important;
    }
    .b1p{
        margin-top: 50px !important;
    }
    .b1n{
margin-top: 50px !important;
    }
}
@media (max-width:1475px) {
    .setSwiperWidth{
        max-width: 1000px !important;
    }
}
@media (max-width:1167px) {
    .setSwiperWidth{
        max-width: 900px !important;
    }
}
